alias .='ll'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias gs='git status'
alias gd='git diff'
alias gg='git log --graph --oneline --decorate --all'
alias gl='git log --pretty=format:"%C(bold blue)%h%C(reset) - %C(bold green)%ad%C(reset) %<(14,trunc)(%C(bold green)%ar%C(reset)) %s %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)" --decorate --date=short'
alias gfu='git fetch upstream'
alias grum='git reset --hard upstream/master'
alias amend='git add -A; git commit --amend'

